<a href="https://colab.research.google.com/github/TiaErikaDev/ADA-Logica_Programacao/blob/main/Aula09_Funcoes_com_funcoes_parametros_de_funcoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Vamos relembrar alguns conceitos sobre funções

Uma função é um objeto utilizado para **fazer determinadas ações**.

<br>

Podemos pensar como uma máquina que quando inserimos argumentos nos seus parâmetros faz algo e pode ou não retornar algo

In [ ]:
def nome_da_funcao(parametro_1="argumento_1"):
  instrucoes = str(parametro_1) + ". instrucao aplicada!"
  saida = "saída: " + instrucoes
  return saida

In [ ]:
nome_da_funcao("meu argumento")

'saída: meu argumento. instrucao aplicada!'

O que fizemos acima é:

- usamos "def" para deixar claro para o Python que estamos **definindo** uma função;
- Depois, demos um **nome** para nossa função;
- Em parênteses, determinamos quais serão os **parâmetros** que quando a função for utilizada será "preenchida" pelos argumentos -- esses são os inputs, e em python, esses elementos podem ser opcionais!
- Depois, realizamos uma série de instruções. Nesse caso, concatenamos dois textos.
- Ao fim, dizemos o que a função irá **retornar** -- esses são os outputs, e em Python esse elemento pode ser opcional!

Importante lembrar que as variáveis criadas dentro da função como padrão ficarão dentro do escopo da função. Isto é, não serão salvas se você chama-las fora

# Funções com funções

Uma função, assim como outras "informações" que aprendemos, também consegue ser atribuída a uma variável.

```python
var1 = 2
var2 = sum
```

As funções também conseguem ser passadas como argumento para outras funções. Essa combinação entre funções pode ser útil quando queremos executar uma mesma sequência de passos

vamos a um exemplo

In [ ]:
nome_da_funcao("meu argumento")

'saída: meu argumento. instrucao aplicada!'

In [ ]:
nome_da_funcao

In [ ]:
def minha_funcao(n):
  return n

minha_funcao(5)

5

In [ ]:
minha_funcao()

TypeError: ignored

In [ ]:
type(minha_funcao)

function

In [ ]:
def minha_outra_funcao(numero,funcao):
  return funcao(numero) * numero


minha_outra_funcao(3,minha_funcao)

12

vamos a outro exemplo:

In [ ]:
def soma(a,b):
  return a + b

def multiplicacao(a,b):
  return a * b

In [ ]:
def cumulativo(inicial, quantidade, operacao):
  contador = 1
  acumulado = inicial
  while contador <= quantidade:
    acumulado = operacao(acumulado, contador)
    contador += 1
  return acumulado


cumulativo(0,2,soma)

3

In [ ]:
cumulativo(1,4,soma)

11

In [ ]:
cumulativo(1,3,multiplicacao)

6

vamos a outro exemplo

In [ ]:
def soma(a,b):
  return a + b

def subtracao(a,b):
  return a - b

def multiplicacao(a,b):
  return a * b

def divisao(a,b):
  return a / b

In [ ]:
def operador_para_funcao(operador):
  if operador == "+":
    return soma
  elif operador == "-":
    return subtracao
  elif operador == "*":
    return multiplicacao
  else:
    return divisao

In [ ]:
sum((1,2,3))

6

In [ ]:
soma

In [ ]:
operador_para_funcao("+")(3,2)

5

Como vimos:
- As funções se passadas sem parênteses () podem ser utilizadas (sem necessariamente executa-las) dentro de outras funções.

- Conseguimos passar uma função como argumento e utiliza-la dentro da função

## função filter()

documentação: https://docs.python.org/3/library/functions.html#filter

In [ ]:
3 % 2

1

In [ ]:
if 3 % 2:
  print("verdadeiro")

verdadeiro

In [ ]:
string_exemplo = "uma frase aleatória"
string_exemplo[:11]

'uma frase a'

In [ ]:
# outro exemplo utilizando strings
def string_pequena(n):
  if len(n) > 10:
    return False
  else:
    return True
  



lista = ["oi","olá","olá tudo bem com você?"]

list(filter(string_pequena,lista))

['oi', 'olá']

In [ ]:
def is_impar(n):
  if n % 2 == 1:
    return True
  else:
    return False

is_impar(2)

lista = [1,2,3,4]

filter(is_impar,lista)

In [ ]:
tuple(filter(is_impar,lista))

(1, 3)

In [ ]:
for element in filter(is_impar,lista):
  print(element)

1
3

In [ ]:
is_impar(3)
#guardar essa informação: 1
#guardar essa informação: 3

True

## função map()

links úteis:
- https://docs.python.org/3/library/functions.html#map
- https://www.geeksforgeeks.org/python-map-function/

In [ ]:
def quadrado(n):
  return n ** 2

var1 = map(quadrado,[1,2,3,4])

In [ ]:
tuple(var1)

(1, 4, 9, 16)

In [ ]:

list(map(quadrado,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
for element in map(quadrado, [1,2,3,4]):
  print(element)

1
4
9
16

In [ ]:
list(map(quadrado,[1,2,3,4],[2,3,4,5]))

TypeError: ignored

In [ ]:
def potencia(base, expoente):
  return base ** expoente

lista = [1,2,3,4]
lista2 = [2,2,3,3]

list(map(potencia,lista,lista2))

[1, 4, 27, 64]

In [ ]:
def potencia(base, expoente):
  return base ** expoente

lista = [1,2,3,4]
lista2 = [2,2,3]

list(map(potencia,lista,lista2))

[1, 4, 27]

## função reduce()

documentação: https://docs.python.org/3/library/functools.html

imagem ilustrativa do que acontece com o reduce() : https://editor.analyticsvidhya.com/uploads/57493Untitled.png

vamos fazer algo um pouco diferente dessa vez, vamos importar (import) algo de uma biblioteca biblioteca, mais especificamente a função reduce dessa biblioteca.

In [ ]:
from functools import reduce

def subtracao(x,y):
  return x-y

reduce(subtracao,[3,2,1])

0

In [ ]:
# como podemos ver, a função espera 3 argumentos. mas o reduce só passa de 2 argumentos em 2 argumentos
def subtracao(x,y,z):
  return x-y

reduce(subtracao,[3,2,1])

TypeError: ignored

In [ ]:
# como podemos ver, a função espera 3 argumentos. mas o reduce só passa de 2 argumentos em 2 argumentos
def subtracao(x):
  return x

reduce(subtracao,[3,2,1])

TypeError: ignored

In [ ]:
from functools import reduce

n = int(input("Digite um número: "))

def produto(x,y):
  return x*y

# se n = 3
# range = [1,2,3]
# primeira coisa que reduce faz: [1*2, 3] = [2,3]
# depois ele faz: [2*3] = 6

reduce(produto, range(1,n+1,1))

Digite um número: 3

6

## Destaques aprendizado map/reduce/filter:

- mais um kit de ferramentas que pode ser utilizado passando uma função dentro de outra
- é mais 'sucinto' de escrever do que um for loop
- pode ser bastante performático

# Parâmetros de funções

Quando estudamos funções, aprendemos que elas podem fornecer uma resposta (return) e  podem ter parâmetros.

- Também vimos que a função poderia retornar exatamente um resultado.

- Para os parâmetros: Vimos que o número de argumentos a serem passados era fixo para cada função. Um argumento para cada parâmetro que declaramos na definição da função.


Em alguns casos, mais flexibilidade seria útil.


## Funções com retorno múltiplo
Vejamos um caso simples: uma função que responde os valores máximo e mínimo de uma coleção.

In [ ]:
def min_max(colecao):
  print(min(colecao))
  print(max(colecao))

min_max([1,2])

1
2

Você pode retornar os valores separados por vírgula. 
Vamos imprimir o resultado e verificar o que acontece.

In [ ]:
def min_max(colecao):
  lista = (min(colecao), max(colecao))
  return lista
min_max([1,2])

(1, 2)

In [ ]:
def min_max(colecao):
  return min(colecao), max(colecao)

min_max([1,2])

(1, 2)

Por que retornar uma tupla?

In [ ]:
# imutáveis
# performática em consumo de memória do que as listas

In [ ]:
menor = min_max([1,2])[0]
maior = min_max([1,2])[1]

In [ ]:
maior

2

como podemos ver, conseguimos atribuir uma variável para o menor e o maior valor. mas será que não existe uma forma melhor de fazer isso?

In [ ]:
menor, maior = min_max([1,2])

Por que é importante lembrarmos/sabermos isso?

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X,y ...)

Vamos resumir então.
- Quando utilizamos valores separados por vírgula em Python, os valores são agrupados em uma tupla, mesmo que não estejamos utilizando parênteses.
- Essa informação é relevante porque podemos separar a tupla em varias variáveis usando a mesma sintaxe:

No exemplo acima é mais perceptível a sensação de que a função retornou 2 valores e o programa recebeu esses 2 valores individualmente. Por dentro, tupla. Por fora, retorno múltiplo.

## Parâmetros com valores padrão

Uma primeira forma de trabalhar com a ideia de parâmetros opcionais é atribuir valores padrão para nossos parâmetros. Quando fazemos isso, quando a função for chamada, o parâmetro pode **ou** não ser passado. Caso ele não seja passado, é adotado o valor padrão.

Devemos primeiro colocar os parâmetros "comuns" (conhecidos como _argumentos posicionais_) para depois colocar os argumentos com valor padrão. Imagine, por exemplo, uma função que padroniza _strings_ jogando todo seu conteúdo para upper ou lower. Podemos implementá-la da seguinte maneira:

In [ ]:
def padroniza_string(texto, lower=True):
  if lower:
    return texto.lower()
  else:
    return texto.upper()

padroniza_string("olá tudo BeM com Você?", lower=False)

'OLÁ TUDO BEM COM VOCÊ?'

## Funções com quantidade variável de parâmetros
Talvez você já tenha notado que o _print_ é uma função. Se não notou, esse é um bom momento para pensar a respeito. Nós sempre usamos com parênteses, nós passamos informações dentro dos parênteses (os dados a serem impressos) e ele faz um monte de coisa automaticamente: converte todos os dados passados para _string_, contatena todas as _strings_ com um espaço entre elas e as escreve na tela.

Algo que o _print_ tem que as nossas funções não tinham é a capacidade de receber uma quantidade variável de parâmetros. Nós podemos passar 0 dados (e, neste caso, ele apenas pulará uma linha), 1 dado, 2 dados, 3 dados... Quantos dados quisermos, separados por vírgula, e ele funcionará para todos esses casos. Se até o momento temos que declarar todos os parâmetros, como fazer para que múltiplos dados possam ser passados?


### Agrupando parâmetros
A solução é utilizar o operador **\***  que, neste caso, não será uma multiplicação.

- Ao colocarmos o **\*** ao lado do nome de um parâmetro na definição da função, estamos dizendo que aquele argumento será uma coleção. Mais especificamente, uma tupla.
 - Porém, o usuário não irá passar uma tupla. Ele irá passar quantos argumentos ele quiser (inclusive nenhum se quiser), e o Python automaticamente criará uma tupla com eles.

In [ ]:
tupla_exemplo = (1,2,3,4)

In [ ]:
print(*tupla_exemplo)

1 2 3 4

In [ ]:
print(tupla_exemplo[0],tupla_exemplo[1], tupla_exemplo[2], tupla_exemplo[3])

1 2 3 4

In [ ]:
a,*b,c = (1,2,3,4,5)
b

[2, 3, 4]

O que aconteceu no código que executamos acima?

<br> <br> <br> <br> <br>

Agora que aprendemos esses conceitos, vamos criar uma função que tem comportamento de receber argumentos similar ao do _print()_

vamos criar uma função de somatório que pode receber uma quantidade arbitrária de números (argumentos).

In [ ]:
var = 2
var2 = 3

var + var2

5

In [ ]:
def soma(a,b):
  return a + b

soma(2,3)

5

In [ ]:
def soma_lista(lista):
  return sum(lista)

lista = [1,2,3,4]
soma_lista(lista)

10

In [ ]:
def soma(*numeros):
  
  print(numeros)
  print(type(numeros))
  somatorio = 0
  for n in numeros:
    somatorio += n
  return somatorio

soma(3,2,3,4,5)

(3, 2, 3, 4, 5)
<class 'tuple'>

17

In [ ]:
def soma(*valores):
  
  return valores

soma(3,True,3,4,"oi")

3

In [ ]:
var = 10
var2 = 5
print("o resultado da soma é", var+var2)

o resultado da soma é 15

### Expandindo uma coleção
O exemplo acima funciona muito bem quando o usuário da função possui vários dados avulsos, pois ele os agrupa em uma coleção. Mas o que acontece quando os dados já estão agrupados?

In [ ]:
def soma(*numeros):
  
  print(numeros)
  print(type(numeros))
  somatorio = 0
  for n in numeros:
    somatorio += n
  return somatorio


lista = [1,2,3,4,5]
soma(lista)


([1,2,3,4,5])

([1, 2, 3, 4, 5],)
<class 'tuple'>

TypeError: ignored

In [ ]:
tupla = tuple([1,2,3,4])
for element in tupla:
  print(element)

1
2
3
4

In [ ]:
def soma(*numeros):
  
  print(numeros)
  print(type(numeros))
  somatorio = 0
  for n in numeros:
    somatorio += n
  return somatorio


lista = [1,2,3,4,5]
soma(*lista,5)

(1, 2, 3, 4, 5, 5)
<class 'tuple'>

20

In [ ]:
sum((1,2,3)) + a

7

In [ ]:
def soma(a,*b):
  return a + sum(b)

soma(1,1,2,3)

7

In [ ]:
print(*lista)

1 2 3 4 5

In [ ]:
# O print deve funcionar assim:
def imprimir(*args, sep: str = " ", end: str ="\n") -> str:
    return sep.join(map(str, args)) + end

Note que o programa dará erro, pois como os _print_ dentro da função ilustram, foi criada uma tupla, e na primeira posição da tupla foi armazenada a lista. Isso não funciona com a lógica que projetamos.

Para casos que quisermos utilizar dessa maneira, utilizaremos o operador **\*** na chamada da função também. 

- Na definição da função, o operador **\*** indica que devemos agrupar itens (argumentos) avulsos em uma coleção. 

- Na chamada, ele indica que uma coleção deve ser expandida em itens avulsos.

In [ ]:
def soma(*numeros):
  
  print(numeros)
  print(type(numeros))
  somatorio = 0
  for n in numeros:
    somatorio += n
  return somatorio


lista = [1,2,3,4,5]
soma(*lista,5)

No programa acima, a lista é expandida em 5 valores avulsos, e em seguida a função agrupa os 5 itens em uma tupla chamada "numeros".

E vale mencionar/reforçar também que os parâmetros com * terão seus argumentos opcionais, podendo ou não serem preenchidos

vamos criar uma função de multiplicação como exemplo

In [ ]:
def soma(*numeros):
  return numeros

soma()

()

## Outros parâmetros opcionais
Outra possibilidade são funções com parâmetros opcionais. Note que isso é diferente de termos quantidade variável de argumentos para um mesmo parâmetro. 

No caso da quantidade variável de argumentos para um mesmo parâmetro, normalmente são diversos argumentos com a mesma utilidade (números a serem somados, valores a serem exibidos etc). 


Já estudamos uma forma de parâmetros opcionais utilizando valores padrão.

Mas para funções com uma **grande** quantidade de parâmetros e/ou de variação na utilização do parâmetros opcionais, existe outra forma utilizando dicionários, apelidada como ```**kwargs```.


### Criando **kwargs
Para criar parâmetros opcionais, usaremos **\*\***, e os parâmetros passados serão agrupados em um dicionário: o nome do parâmetro será a chave do dicionário, e o valor será... O valor desse dicionário.

In [ ]:
kwargs == keyword argumentos
# key == chave
# word == palavra

In [ ]:
def dados_usuario(**kwargs):
  print(kwargs)
  print(type(kwargs))
  return kwargs['nome']


dados_usuario("nome", profissao="professor", idade=45)

TypeError: ignored

In [ ]:
def teste(a,b="opcionais", *args)

In [ ]:
def cadastro(**usuario):
  print(usuario)
  if not ('nome' in usuario) and not ('cpf' in usuario):
    print('nenhum dado básico do usuário localizado')
  else:
    print('informacões básicas do usuário encontrada')
    if 'nome' in usuario:
      print('nome cadastrado', usuario['nome'])
    if 'cpf' in usuario:
      print('cpf cadastrado', usuario['cpf'])
  print('cadastro realizado com sucesso!')

In [ ]:
cadastro(cpf=12345639)

{'cpf': 12345639}
informacões básicas do usuário encontrada
cpf cadastrado 12345639
cadastro realizado com sucesso!

<br> <br> <br> <br>

E se eu adicionar um argumento que eu não mapeei nas condicões da minha função?

In [ ]:
cadastro(rg=1234592)

{'rg': 1234592}
nenhum dado básico do usuário localizado
cadastro realizado com sucesso!

### Expandindo um dicionário

Analogamente ao caso dos argumentos múltiplos, é possível que o usuário da função já tenha os dados organizados em um dicionário. Neste caso, basta usar **\*\*** na chamada da função para expandir o dicionário em vários parâmetros opcionais.

In [ ]:
dicionario = {"nome": "theo", "tipo sanguíneo": "ab"}
cadastro(**dicionario)
cadastro(nome="theo", tipo_sanguíneo='ab')

{'nome': 'theo', 'tipo sanguíneo': 'ab'}
informacões básicas do usuário encontrada
nome cadastrado theo
cadastro realizado com sucesso!
{'nome': 'theo', 'tipo_sanguíneo': 'ab'}
informacões básicas do usuário encontrada
nome cadastrado theo
cadastro realizado com sucesso!

## Como todos os parâmetros ficam ordenados dentro da criação da função?

In [ ]:
# organização dos parâmetros da minha função
def funcao_com_muitos_parametros(posicional_obrigatorio, param_padrao=True, *args_tupla, **kwargs_dicionario):
  print("posicional_obrigatorio: ", posicional_obrigatorio, "paramas_padrao: ", param_padrao, "args_tupla: ",
               args_tupla, "kwargs_dicionario: ", kwargs_dicionario)

In [ ]:
funcao_com_muitos_parametros(1,2,3,4,5,6,7,8,9,texto='theo', numero=43)

posicional_obrigatorio:  1 paramas_padrao:  2 args_tupla:  (3, 4, 5, 6, 7, 8, 9) kwargs_dicionario:  {'texto': 'theo', 'numero': 43}

In [ ]:
funcao_com_muitos_parametros(1,2,3,4,5,6)

posicional_obrigatorio:  1 paramas_padrao:  2 args_tupla:  (3, 4, 5, 6) kwargs_dicionario:  {}

In [ ]:
funcao_com_muitos_parametros(1)

posicional_obrigatorio:  1 paramas_padrao:  True args_tupla:  () kwargs_dicionario:  {}

In [ ]:
funcao_com_muitos_parametros(1,texto='theo', numero=43)

posicional_obrigatorio:  1 paramas_padrao:  True args_tupla:  () kwargs_dicionario:  {'texto': 'theo'}

## Exercícios

vamos fazer até o exercício 5 (incluso)

1) Faça um código que faça a subtracao entre elementos de diferentes listas e eleve esse resultado ao quadrado .

exemplo:

<center>

|listas  | 0 | 1 | 2 | 
--- | --- | --- | --- |
lista1| 3 | 5 | 15 
lista2 | 4 | 4 | 10
diferença | -1 | 1 | 5
quadrado da diferença | 1 | 1 | 25

</center>

- sugestão: utilize a função map()

In [ ]:
def subtracao_listas(lista1,lista2):

  nova_lista = []

  for element in range(len(lista1)):
    nova_lista.append((lista1[element] - lista2[element])**2)
  return nova_lista

subtracao_listas([1,2,3],[7,8,9])

[36, 36, 36]

In [ ]:
def subtracao(x,y):
  return (x-y) ** 2

lista = [3,5,15]
lista_2 = [4,4,10]

list(map(subtracao,lista,lista_2))

[1, 1, 25]

In [ ]:
def subtracao(a,b):
  return (a-b) ** 2

lista_1 = [1,3,6]
lista_2 = [5,6,7]

list(map(subtracao,lista_1,lista_2))

[16, 9, 1]

In [ ]:
def subtracao(*list):
    nova = []
    for n in range(lista1):
        nova.append((list[n]-list[n])**2)
    return list(nova)

In [ ]:

lista1 = [5,4,3]
lista2 = [1,2,3]
subtracao(lista1, lista2)

In [ ]:
def sub_quad(*list):
    nova = []
    for n in range(len(list)):
        nova.append((list[n]-list[n])**2)
    return nova

lista1 = [5,4,3]
lista2 = [1,2,3]
subtracao(lista1, lista2)

In [ ]:
def quadrado(n):
  return n ** 2

var1 = map(quadrado,[1,2,3,4])

In [ ]:
list(map(quadrado, subtracao))

In [ ]:
# por que esse código está dando erro?
def subtracao_listas(lista1,lista2):

  nova_lista = []

  for element in range(lista1):
    nova_lista.append((lista1[element] - lista2[element])**2)
  return nova_lista

lista = [3,5,15]
lista_2 = [4,4,10]

list(map(subtracao_listas,lista,lista_2))

In [ ]:
from functools import reduce

def multiplicacao(a,b):
  return (a*b)

lista = [1,3,5]

reduce(multiplicacao,lista)

15

2) Escreva um código que recebe uma tupla ou lista e retorna os elementos que têm uma vogal

- sugestão: utilize a função filter()

In [ ]:
def tem_vogal(string):
    for caract in string.lower():
      if caract in ('a', 'e', 'i', 'o', 'u'):
        return True
    return False

list(filter(tem_vogal, ['ErikA', 'Mayara', '123', 'Python']))

['ErikA', 'Mayara', 'Python']

3) Faça um código que retorne a multiplicacao entre todos os elementos da lista

- sugestão: utilize a função reduce()

In [ ]:
from functools import reduce

def multiplicacao(a,b):
  return a*b

lista = [1,3,5]

reduce(multiplicacao,lista)

15

4) Faça uma função que sempre some 3 valores e retorne o total de sua soma

In [ ]:
def soma_tres(a,b,c):
    return a+b+c

soma_tres(100,200,300)

600

5) Agora faça uma função que pode receber múltiplos argumentos e retorne o total de sua soma

In [ ]:
def soma_tudo(*numero):
    return sum(numero)

soma_tudo(100,200,500)

800

6) Faça uma função que recebe uma quantidade arbitrária de variáveis de qualquer tipo e retorna uma string contendo todas as suas representações separadas por espaço

In [ ]:
def junta_variaveis(*variaveis):
    return ' '.join(map(str, variaveis))

junta_variaveis('hello', 'word', 100, True)

'hello word 100 True'

7) Modifique a função anterior para incluir um parâmetro opcional indicando o caractere de separação entre as variáveis. Seu valor padrão será 1 espaço em branco

In [ ]:
def junta_variaveis(*variaveis, separador=' '):
    return separador.join(map(str, variaveis))

junta_variaveis('hello', 'word', 100, True)

'hello word 100 True'

8) Faça uma função que quando o valor do argumento:
- for divisível por 3 retornar "Fizz"
- for divisível por 5 retornar "Buzz"
- for divisível por 3 e por 5 retornar "FizzBuzz"
-  não for divisível por 3 nem por 5 retorne o valor que foi inserido

In [ ]:
def fizz(a):
    if a % 15 == 0:
        return 'FizzBuzz'
    elif a % 5 == 0:
        return 'Buzz'
    elif a % 3 == 0:
        return 'Fizz'
    else:
        return a

fizz(90)

'FizzBuzz'

9) Faca uma função que diga "Olá usuário" se nada for passado como argumento. Caso contrário a função dirá Olá e o nome da pessoa

In [ ]:
def ola(user="usuário"):
  return "olá " + user

print(ola())

olá usuário

10) criar uma função que consiga registrar dados sobre animais.
- tenha um parâmetro obrigatorio para identificar o animal (ex: gato, cachorro, etc.)
- tenha um parâmetro país com padrão Brasil
- aceite através de múltiplos argumentos características desse animal (ex:quantidade_asas, raca, etc)
- retornar um texto que contenha o valores que foram inputadas em animal, país e:
 - caso tenha alguma outra característica extra: também retorna no texto a quantidade de características (argumentos) que foram registrados e seus nomes.
 - caso não tenha característica extra  mencionar no texto de retorno

In [ ]:
def registro(animal, pais='Brasil', **caracteristicas):
    descritivo = (f'O animal {animal} foi registrado no país {pais}.')
    if caracteristicas:
        descritivo += (f' Outras {str(len(caracteristicas))} características foram registradas: {", ".join(caracteristicas.keys())}.')
    else:
        descritivo += (' Não houve caracteristicas adicionais a serem registradas.')
    return descritivo

registro("gato", pais="Brasil", quantidade_patas=4, raca='siamês')

'O animal gato foi registrado no país Brasil. Outras 2 características foram registradas: quantidade_patas, raca.'

# Link úteis

https://docs.python.org/3/tutorial/controlflow.html#more-on-defining-functions

https://peps.python.org/pep-0008/

https://www.w3schools.com/python/ref_func_print.asp