<a href="https://colab.research.google.com/github/TiaErikaDev/ADA-Logica_Programacao/blob/main/Aula_08_tuplas_dicionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estrutura de Dados

Hoje aprenderemos novas maneiras de armazenar e esturar nossos dados.

##   Tuplas: O Que São e Por Que Usar  <a class="anchor" id="um"></a>
<br>


Tuplas podem ser pensadas como listas mas com algumas restrições:

- não podemos alterar uma tupla nem em ordem, nem conteúdo.

Por que deveriamos usa-las então? Velocidade e organização de código. Um programador ao ver uma tupla sabe que seu conteúdo não pode ser alterado indiscriminadamente, além disso, a capacidade de alteração numa lista exige algoritmos mais complexos e lentos, então trabalhar com tuplas nos permite maior desempenho.<br>

As tuplas são declaradas entre parênteses, possuem algumas funções nativas semelhantes as listas, como len() e type(), e também são consultadas (slicing) da mesma maneira com os colchetes. As tuplas também aceitam dados mistos dentro de sí.

In [ ]:
tupla = ("manga", "pera", 7, True, 45.6)
print(tupla)
print(tupla[-1])
print(len(tupla))
print(type(tupla))

('manga', 'pera', 7, True, 45.6)
45.6
5
<class 'tuple'>

Para alterarmos uma tupla, podemos, por exemplo, fazer um <i>cast</i> para listas, alterar a lista, e retornar para uma tupla.
</div>

In [ ]:
print(f"minha tupla é essa: {tupla}")
lista_auxiliar = list(tupla)
lista_auxiliar.append("alteração na lista")
tupla = tuple(lista_auxiliar)

print(f"tupla depois de alterar: {tupla}")

minha tupla é essa: ('manga', 'pera', 7, True, 45.6)
tupla depois de alterar: ('manga', 'pera', 7, True, 45.6, 'alteração na lista')

Tuplas podem ser desempacotadas, isso é, desmembrar seus valores para variaveis individuais

In [ ]:
var1,var2,var3 = (1,29,50)
var1

1

Observação/lembrete:

Uma outra maneira de desempacotar utilizando <b>*</b>

In [ ]:
a,b,c = 1,4,5

In [ ]:
a,b,c = (1,4,5,"novo valor")

ValueError: ignored

In [ ]:
a,b,c = [1,4,5,"novo valor"]

In [ ]:
a,b,*c = 1,4,5, "novo valor"

In [ ]:
a,*b,c,d,e = 1,4,5, "novo valor","e", "f"

In [ ]:
print(b)
print(c)

[4, 5]
novo valor

In [ ]:
a,*b,c,d,e = 1,4,5, "novo valor","e", "f"

---
<div align="justify">
&emsp; Tuplas podem ser percorridas em loop igualmente as listas, além disso podemos concatenar tuplas com o + e multiplicar elas por inteiros usando *.
</div>

As tuplas também possuem os métodos .count() e .index() que, respectivamente, contam quantos dados iguais ao que passarmos a tupla possui, e em qual <i>index</i> está o primeiro dado igual ao que passamos.
</div>

In [ ]:
tupla_1 = ("morango", "pêra", "maçã")
for item in tupla_1:
  print(item)

morango
pêra
maçã

In [ ]:
tupla_1 = ("morango", "pêra", "maçã", "pêra")
tupla_1.count("morango")

1

In [ ]:
tupla_1.index("pêra")

1

## Dicionários: Diferenças e similaridades para o seu xará mais conhecido

Dicionários também podem ser pensados analogamente a listas, mas não pensaremos mais no conceito de <i>index</i> e sim em palavras-chave. Assim como um dicionário real possui palavras e suas definições, um dicionário em Python também! Entretanto devemos nos atentar que um dicionário não pode ter duas definições para uma mesma palavra (mas pode ter uma definição única definida por uma lista!)
<br>

Dicionários são declarados entre chaves, e acessados com colchetes (usando as palavras-chave e não as <i>indexes</i>) ou com a função get() usando a palavra-chave como parâmetro. Além disso com a função keys() podemos listar todas as palavras-chave de um dado dicionário.

In [ ]:
chave : valor
palavra : string com significado da palavra

In [ ]:
pessoa = {"nome": "José",
 "idade": 32,
 "profissao": "empreendedor",
 "filhos": ["Ana", "Bernardo", "Joao"]}
pessoa

{'nome': 'José',
 'idade': 32,
 'profissao': 'empreendedor',
 'filhos': ['Ana', 'Bernardo', 'Joao']}

In [ ]:
pessoa['filhos']

3

In [ ]:
[["nome","jose"],["idade",32],["profissao","empreendedor"],["filhos",["ana", "bernardo","joao"]]]

---
<div align="justify">
&emsp; Podemos adicionar itens de um dicionário usando <b>nomeDic["novaPalavraChave"] = valor</b>, podemos atualizar da mesma maneira mas usando uma palavra-chave já existente, ou mesmo usar o método update() com o parâmetro <b>{"palavraChave": novoValor}</b>. Já para apagar itens temos várias maneiras: podemos usar o método pop() com a palavra-chave a ser deletada como parâmetro, ou o método popitem() para deletar o último item, ou mesmo a <b>del dicionario["chaveParaDeletar"]</b>, por fim temos o método clear() que limpa o dicionário todo.<br>
</div>

In [ ]:
print("dicionário inicial:",pessoa,"\n")

pessoa['nome']

pessoa['nacionalidade'] = "brasileiro"

print("dicionario incrementado", pessoa,"\n")

pessoa['nome'] = "pedro"

# .update() insere ou substitui um valor baseado na chave que é passada
pessoa.update({"idade": 35, "nacionalidade": "chileno", "cachorro": "zeus"})

print("dicionario atualizado", pessoa,"\n")

# passamos uma chave e ele apaga o respectivo par chave e valor
pessoa.pop('nome')

# remove última chave valor do dicionário
pessoa.popitem()

dicionário inicial: {'nome': 'José', 'idade': 32, 'profissao': 'empreendedor', 'filhos': ['Ana', 'Bernardo', 'Joao']}

dicionario incrementado {'nome': 'José', 'idade': 32, 'profissao': 'empreendedor', 'filhos': ['Ana', 'Bernardo', 'Joao'], 'nacionalidade': 'brasileiro'}

dicionario atualizado {'nome': 'pedro', 'idade': 35, 'profissao': 'empreendedor', 'filhos': ['Ana', 'Bernardo', 'Joao'], 'nacionalidade': 'chileno', 'cachorro': 'zeus'}

In [ ]:
# caso eu queria "renomear" um chave no meu dicionário, posso fazer da seguinte forma:
pessoa['netos'] = pessoa.pop("filhos")
pessoa

{'nome': 'José',
 'idade': 32,
 'profissao': 'empreendedor',
 'netos': ['Ana', 'Bernardo', 'Joao']}

---
<div align="justify">
&emsp; Dicionários podem ser usados em <i>loops</i> normalmente também. Existem alguns métodos que podem ser úteis de serem utilizados.<br>
</div>

In [ ]:
pessoa = {"nome": "José",
 "idade": 32,
 "profissao": "empreendedor"}

In [ ]:
for chave in pessoa:
  print(chave)

nome
idade
profissao

In [ ]:
for chave in pessoa.keys():
  print(chave)

nome
idade
profissao

In [ ]:
pessoa.keys()

dict_keys(['nome', 'idade', 'profissao'])

In [ ]:
for valor in pessoa.values():
  print(valor)

José
32
empreendedor

In [ ]:
pessoa['nome']

'José'

In [ ]:
for chave in pessoa:
  print(pessoa[chave])

José
32
empreendedor

In [ ]:
lista = [1,2,3]
for indice,element in enumerate(lista):
  print(indice,element)

0 1
1 2
2 3

In [ ]:
for seq,chave in enumerate(pessoa):
  print(seq,chave)

0 nome
1 idade
2 profissao

In [ ]:
pessoa = {"nome": "José",
 "idade": 32,
 "profissao": "empreendedor"}

In [ ]:
element = ("nome", "josé")

In [ ]:
chave,valor = ("nome", "josé")
print(chave, valor)

nome josé

In [ ]:
listas = [[1,2,3],[4,5,6]]
for e0,*e1 in listas:
  print(e0,e1)

1 [2, 3]
4 [5, 6]

In [ ]:
for chave,valor in pessoa.items():
  print(f"a chave {chave} possui valor {valor}")

a chave nome possui valor José
a chave idade possui valor 32
a chave profissao possui valor empreendedor

In [ ]:
{"chave":"valor pode ser lista, dicionario, string, numero"}

---
<div align="justify">
&emsp; Assim como listas podem armazenar listas, dicionários podem armazenar dicionários, formando dicionários de mais de uma dimensão. Veja o exemplo:<br>
</div>

In [ ]:
filhos = {
    "filho1": {
        "nome": "gabriel",
        "ano" : 2004
    }
}

In [ ]:
pessoa = {
    "nome": "joao",
    "endereco": {
        "rua": "rua travessa",
        "cep" : 200439424
    }
}

In [ ]:
filhos.items()

dict_items([('filho1', {'nome': 'gabriel', 'ano': 2004})])

In [ ]:
filhos.values()

dict_values([{'nome': 'gabriel', 'ano': 2004}])

In [ ]:
pessoa.values()

dict_values(['joao', {'rua': 'rua travessa', 'cep': 200439424}])

In [ ]:
pessoa.keys()

dict_keys(['nome', 'endereco'])

In [ ]:
pessoa['endereco']['cep'] > 100

True

---
<div align="justify">
&emsp; No contexto de dicionários o comando <b>in</b> é útil. Imagine que você quer adicionar valores em uma chave mas não sabe sequer se ela existe naquele contexto, como poderiamos fazer?<br>
</div>

In [ ]:
estudante = {"nome": "theo",
             "graduacao": "medicina"}

In [ ]:
"graduacao" in estudante

True

In [ ]:
"graduacao" in estudante.keys()

True

In [ ]:
"theo" in estudante.values()

True

In [ ]:
lista_materiais = ['jaleco', 'bisturi', 'estetoscópio']

if 'materiais' not in estudante:
  estudante['materiais'] = lista_materiais

estudante

{'nome': 'theo',
 'graduacao': 'medicina',
 'materiais': ['jaleco', 'bisturi', 'estetoscópio']}

In [ ]:
notas_alunos = {"aluno1": [7,8,9,10,10],
                "aluno2": [5,6,9,9.6,9.8],
                "aluno3": [7,8,10,10,10]}

for aluno,lista_notas_do_aluno in notas_alunos.items():
  if 10 in lista_notas_do_aluno:
    print(f"nota encontrada. aluno: {aluno} tirou 10. Quantidade: {lista_notas_do_aluno.count(10)}")

nota encontrada. aluno: aluno1 tirou 10. Quantidade: 2
nota encontrada. aluno: aluno3 tirou 10. Quantidade: 3

## Exercícios

1) Crie um dicionário para as seguintes relações:

<center>

. |  |
--- | --- | 
banana| 3.0 | 
cebola | 4.0 |
maçã | 5.7
abacaxi | 8.0


</center>

In [ ]:
fruta = {"banana":3.0,
         "cebola":4.0,
         "maca":5.7,
         "abacaxi":8.0}
print(fruta)

{'banana': 3.0, 'cebola': 4.0, 'maca': 5.7, 'abacaxi': 8.0}

In [ ]:
fruta['maca']=8.6
print(fruta)

{'banana': 3.0, 'cebola': 4.0, 'maca': 8.6, 'abacaxi': 8.0}

In [ ]:
lista = ['maca', 'banana', 'manga', 'maca', 'banana', 'limao', 'limao', 'limao']

nova = []
rep = []
for i in range(len(lista)):
    if i == i:
            rep.append(i)
            print(rep)

['maca']
['maca', 'banana']
['maca', 'banana', 'manga']
['maca', 'banana', 'manga', 'maca']
['maca', 'banana', 'manga', 'maca', 'banana']
['maca', 'banana', 'manga', 'maca', 'banana', 'limao']
['maca', 'banana', 'manga', 'maca', 'banana', 'limao', 'limao']
['maca', 'banana', 'manga', 'maca', 'banana', 'limao', 'limao', 'limao']

In [ ]:
frutas = {"banana": 3.0,
 "cebola": 4.0,
 "maçã": 5.7,
 "abacaxi": 8.0}

print(type(frutas), frutas)

<class 'dict'> {'banana': 3.0, 'cebola': 4.0, 'maçã': 5.7, 'abacaxi': 8.0}

In [ ]:
frutas = { 
"Banana":{"Quantidade":3.0}, 
"Cebola":{"Quantidade":4.0},
"Maçã":{"Quantidade":5.7,
        "unidade": "milhões"},
"Abacaxi":{"Quantidade":8.0}
}

print(f"{frutas['Maçã']['Quantidade']} {frutas['Maçã']['unidade']}")

5.7 milhões

In [ ]:
[9,8,10]
{
"notas1": 9, 
"notas2": 8,
"notas3": 10
}

2) Altere o valor da chave ‘Maçã’ no dicionário do exercício anterior para 8.6.

In [ ]:
frutas['maçã'] = 8600000
frutas['maçã']

8.6

3) Faça uma função que conte quantas vezes cada elemento aparece em uma lista. Essa função deverá guardar os dados em um dicionário no qual as chaves são os elementos inseridos e os valores são a contagem de quantas vezes esse elemento aparece. ex de output: {"banana":2, "maçã":1}

In [ ]:
lista = ['joao', 'maria', 'jose']
if "joao" in lista:
  print("está na lista")
else:
  print("não está na lista")

está na lista

In [ ]:
def conta_elementos(elementos):
  contagem = {}
  for elemento in elementos:
    if elemento not in contagem.keys():
      contagem[elemento] = 1
    else:
      contagem[elemento] += 1
  
  return contagem

In [ ]:
conta_elementos(("banana", "maçã", "banana", "abacaxi", "abacaxi"))

{'banana': 2, 'maçã': 1, 'abacaxi': 2}

In [ ]:
def conta_elemento(lista):
  
  contagem = {}

  for elemento in lista:
    if elemento not in contagem:
      contagem[elemento] = lista.count(elemento)

  return contagem

In [ ]:
# para cada valor único da minha lista_ quantas vezes ela aparece na minha lista original (com repetições) 
def contar_elementos(lista_):
    return {elemento: lista_.count(elemento) for elemento in set(lista_)}

lista = ["a", None, "b", "a", 0, "d", "c", 0, None, 1.5, None]
print(contar_elementos(lista))

In [ ]:
def contar_frutas(lista):

  dict_frutas = {}

  for itens in lista:
    dict_frutas[itens] = lista.count(itens)
    
  return dict_frutas

In [ ]:
# para curiosidade: código eduardo que utiliza set para comparar listas
import pandas as pd
import openpyxl
import xlrd

#ler os arquivos e salva numa vavialvel
excel_novo = pd.read_excel(r'C:\Users\edusa\OneDrive\Documents\Programção\Python\MATRICULADOS EM 2022.2.xlsx')
excel_antigo = pd.read_excel(r'C:\Users\edusa\OneDrive\Documents\Programção\Python\DISCENTE MATRICULADOS.xls')

#cria novas listas em branco para cada arqruivo
lista_novo = []
lista_antigo = []

#com o for uso o metodo append para adicionar os nomes as listas
for nomes in excel_novo["nome"]:
    lista_novo.append(nomes)

for nome in excel_antigo["nome"]:
    lista_antigo.append(nome)


print(len(lista_novo))
print(len(lista_antigo))
#usa metodo set para transforma em conjunto, pq alem de eliminar os dados duplicados, também permite utilizar outros metodos
conjunto_a = set(lista_novo)

#salvo na variavel os diferentes diferentes entre a primeira e segunda lista
inter = conjunto_a.difference(lista_antigo)
print(inter)

4) Faça  uma  função que  receba  múltiplos 
números inteiros em seguida informe quantos são pares e quantos são ímpares.

In [ ]:
for element in (1,2,3):
  print(element % 2)

1
0
1

In [ ]:
def num_par_impar(numeros):
  par = 0
  impar = 0
  for num in numeros:
    if num % 2 == 0:
      par += 1
    else:
      impar += 1
  return f"temos {par} pares e {impar} ímpares"

num_par_impar((1,2,3))

'temos 1 pares e 2 ímpares'

In [ ]:
def par_ou_impar():
  contador = int(input('Quantos números deseja adicionar? '))
  lista_de_numero = [] #Para guardar os dados do usuário. Assunto de listas
  dicionario_de_numero = {} #Usei dicionário só para protagem, praticando assim o uso de {chave:valor}
  for num in range(contador): #Método usado para fazer loop de iterações do usuário
    numero = int(input('Digite o número: '))
    lista_de_numero.append(numero)
  
  numeros_pares = 0
  numeros_impares = 0
#Neste exercicio foi utilizado
  for observar in lista_de_numero:
    if observar % 2 == 0:
      numeros_pares += 1
    else:
      numeros_impares += 1
    dicionario_de_numero.update({'Números pares:':numeros_pares})
    dicionario_de_numero.update({'Números impares:':numeros_impares})
  return dicionario_de_numero

par_ou_impar()

In [ ]:
def contar_pares_e_impares(numeros):
    contagem = {"pares": 0, "impares": 0}
    
    for num in numeros:
        grupo = "pares" if num % 2 == 0 else "impares"
        contagem[grupo] = contagem.get(grupo) + 1

    return contagem


print(contar_pares_e_impares([1, 3, 6, 9, 0, 50, 48]))

5) faça uma função que recebe um elemento a ser encontrado no texto e substitui por outro elemento 

- pode utilizar o método .replace()

In [ ]:
"olá!".replace("!", ".").replace("o","O").replace("l","L")

'OLá.'

In [ ]:
"oooolá"[::-1].replace("o","O",1)[::-1]

'oooOlá'

In [ ]:
dic_exemplo = {"!":".", "o":"O"}

for chave,valor in dic_exemplo.items():
  print(f"chave: {chave} , valor: {valor}")

chave: ! , valor: .
chave: o , valor: O

In [ ]:
def replaces(string,dicionario):
  nova_string = string[:]
  for chave,valor in dicionario.items():
    nova_string = nova_string.replace(chave,valor)
  return nova_string

replaces("olá!", {"!":".", "o":"O", "l":"L"})

'OLá.'

In [ ]:
def replace_using_dict(text: str, base_dict: dict) -> str:
    return text.translate(text.maketrans(base_dict))


print(replace_using_dict(
    text="O rato roeu a roupa do rei de Roma", 
    base_dict={"a": "@", "o": "0"}
))

O r@t0 r0eu @ r0up@ d0 rei de R0m@

In [ ]:
"O rato roeu a roupa do rei de Roma".maketrans({"a": "@", "o": "0"})

{97: '@', 111: '0'}

6) Faça  um  código  contador  de 
palavras.  O  usuário  vai  inserir  um  texto  qualquer  e  o  programa  vai  contar  a 
quantidade de cada palavra no texto, armazenando o resultado em um dicionário 
e exibindo o resultado para o usuário.
- caso queira pode utilizar o .split() e .replace()

In [ ]:
"olá! olá. tudo bem com você? tudo bem.".split()

['olá!', 'olá.', 'tudo', 'bem', 'com', 'você?', 'tudo', 'bem.']

In [ ]:
dic = {"texto": 1, "recebido": 1}
if "joao" in dic:
  print('está no meu dicionário')

In [ ]:
def contador(texto):
  texto = replaces(texto)
  dic = {}
  for palavra in texto.split():
    if palavra in dic:
      dic[palavra] += 1
    else:
      dic[palavra] = 1
  return dic